# Pandas

In [1]:
import pandas as pd
import numpy as np

DataFrame và Series

In [78]:
a = pd.Series([1, 2, 3, 4, 5])
print(a.size)

print(a.dtype)

print(a.values)

print(a.index)

data = {'col1': [1, 2, 3], 'col2': ['A', 'B', 'C']}
b = pd.DataFrame(data)
print(b)

print(b.size)

print(b.values)

5
int64
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)
   col1 col2
0     1    A
1     2    B
2     3    C
6
[[1 'A']
 [2 'B']
 [3 'C']]

Read csv

In [31]:
df = pd.read_csv('./chipotle.tsv', sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [32]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Hiện tại cột choice_description đang bị thiếu dữ liệu nên sẽ fill data vào

In [38]:
# Lọc ra các dòng có dữ liệu là null
df['choice_description'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: choice_description, Length: 4622, dtype: bool

In [35]:
df.loc[df['choice_description'].isnull(), 'choice_description']
#loc(row_indexer, column_indexer)

0       NaN
3       NaN
6       NaN
10      NaN
14      NaN
       ...
4600    NaN
4605    NaN
4613    NaN
4614    NaN
4616    NaN
Name: choice_description, Length: 1246, dtype: object

In [36]:
#Fill data instead of NaN
df.loc[df['choice_description'].isnull(), 'choice_description'] = 'No Choice'
df['choice_description'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: choice_description, Length: 4622, dtype: bool

In [39]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [41]:
df.loc[df['item_name'] == 'Chicken Bowl']

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75

### Giả sử ta sẽ thêm 1 cột mới là doanh thu

In [ ]:
df['item_price'] = pd.to_numeric(df['item_price'].str.replace('$', '')) 
# Loại bỏ ký tự $ và chuyển về kiểu số

In [62]:
df['Total_price'] = df['item_price'] * df['quantity']
df.head(5)

,order_id,quantity,item_name,choice_description,item_price,Total_price
0,1,1,Chips and Fresh Tomato Salsa,No Choice,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,No Choice,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [81]:
print(df.Total_price.mean())
print(df.Total_price.median())
print(df.Total_price.min())
print(df.Total_price.max())

8.48918649935093
8.75
1.09
663.75

In [67]:
#Save file to csv
df.to_csv('preprocessing_chipotle.tsv', sep='\t', index=False)